# Conexión a la Base de Datos
DB_HOST=saknjascj
DB_USER=AD
DB_PASSWORD=7894562
DB_NAME=AD
DB_PORT=0000

# Puerto del servidor Backend (opcional, pero buena práctica)
PORT=0000

# Para firmar tokens JWT
JWT_SECRET=-------